[ELASTIC CLOUD]
using_cloud = False
cloud_id = DEPLOYMENT_NAME:CLOUD_ID_DETAILS
user = elastic
password = LONGPASSWOR

[ELASTIC LOCAL]
using_local = True
url = "http://localhost:9200/"
elastic_ssl_verify = False
user = 
password = 

[ELASTIC INDEX]
elastic_index = "intel_cve"
elastic_pipelane_name = "nvd_to_elastic"

[NVD]
base_url = https://services.nvd.nist.gov/rest/json/cves/1.0?resultsPerPage=2000
cve_size = 2000
lookback_minutes = 65