[Unit]
Description=Service to collect Google News From RSS feeds
After=multi-user.target


[Service]
Type=simple

ExecStart=/usr/bin/python3 /opt/google_news_rss/source/google_news_rss_collector.py

Restart=always

[Install]
WantedBy=multi-user.target